* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

header {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 233, 173);
    animation: colorChange 6s infinite;
}
@keyframes colorChange {
    0% {
        background-color: rgb( 255, 233, 173);
    }
    50% {
        background-color: rgb(246, 166, 234);
    }
    100% {
        background-color: rgb( 255, 233, 173);
    }
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 3rem;
}
.turn {
    text-align: center;
    font-size: 2rem;
}
#showSymbol {
    display: inline-block;
}

body {		
    background-color: rgb(205, 253, 220);
    background-image: url();
    margin: 0 auto;
}

main{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    width: 80%;
    margin: 0 auto;
	gap: 20px;
}
.gameContainer {
    padding: 30px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    justify-content: center;
}

.leftCol {
    background-color: rgb(250, 147, 96);
}

.player {
    text-align: center;
}

.symbol1 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 40px;
}
.sym1 {
    text-align: center;
    background-image: url(./images/cross-mark_274c.png);
    background-size: 100% 100%;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

#playerImg1 {
    height: 200px;
}


.symbol2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 40px;
}
.sym2 {
    margin: 0 auto;
    text-align: center;
    background-image: url(./images/hollow-red-circle_2b55.png);
    background-size: 100% 100%;
    height: 40px;
    width: 40px;
}

#playerImg2 {
    height: 200px;
}

.rightCol {
    background-color: rgb(144, 112, 250);
}
.score {
    text-align: center;
    padding-top: 50px;
    font-size: 2rem;
}

#square1, #square2, #square3, #square4, #square5 ,#square6, #square7, #square8, #square9 {
    height: 200px;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    border: 1px solid black;
    /* color: transparent; */
    background-color: rgb(211, 197, 252);
    color: transparent;
    cursor: pointer;
}

footer {
    width: 80%;
    margin: 0 auto;
}
.result {
    text-align: center;
    padding-bottom: 20px;
    font-size: 3rem;
}

.butContainer {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 50px;
}
.clickPlayAgain, .clickResetScore, .clickPlayComputer {
    margin: 20px;
    text-align: center; 
    background-color: #F5B3DA;
    border: 2px solid black;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
}
#winner {
    padding: 80px;
    display: inline-block;
    border: 1px solid black;
    color: transparent;
}
/* CLASSES USED WITH JS DOM - Under here */

.addPlayer1 {
    background-image: url(./images/cross.png);
    background-size: 100% 100%;
}

.addPlayer2 {
    background-image: url(./images/o\ t\ back.png);
    background-size: 100% 100%;
}
.draw {
    background-image: url(./images/its\ a\ draw\ text.gif);
    background-size: 100% 100%;
    width: 400px;
    height: 217;
    text-align: center;
}
.invis {
    color: transparent;
    text-align: center;
}
.footerStandardBack {
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80);
    background-size: 100% 100%;
}

/* Hover CSS */

.gameContainer > div:hover {
    transform: scale(1.2);
    transition: 1.5s;
}
.butContainer > div:hover {
    transform: scale(1.2);
    transition: 1.5s;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    
}